@import url("//cdn.web-fonts.ge/fonts/bpg-nino-mtavruli-bold/css/bpg-nino-mtavruli-bold.min.css");
html{
  font-family: "BPG Nino Mtavruli Bold", sans-serif;
}
.container{
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}
header{
  width: 100%;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}
.logo-box{
  width: 250px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.logo-box img{
  width: 60px;
  height: 60px;
  border-radius: 10px;
}
.logo-box h2{
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}
.logo-box span{
  font-size: 23px;
  
}

nav {

  width: 60%;
  
}
nav ul{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
nav ul li{
  font-size: 25px;
  transition: all 4s;
  padding-bottom: 5px;
}
nav ul li:hover {
  border-bottom: 3px solid #5E2650;
}
.active{
  color: #A023B0;
}
.homePage{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.hidden{
  position: absolute;
  width: 100%;
  height: 35%;
  background-color: rgba(244,236,241);
  top: 150px;
  left: 0;
  z-index: 10;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  justify-content: space-evenly;
  align-items: center;
}
.course {
  width: 100%;
  height: 150px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.course:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
.course-pic{
  width: 20%;
  height: 80%;
  border-radius: 10px;
  
}
.course h2 {
  font-size: 25px;
}
.arrow-pic {
  width: 32px;
}
.slider-box{
  width: 35%;
  height: 600px;
  border-radius: 10px;
  transition: all 3s;
  
}

.homePage h3{
  width: 50%;
  line-height: 60px;
  color: #000;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}
.homePage h2{
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
}
@keyframes scale {
  100% {
    transform: scale(1);
  }
}
.title-letter{
  opacity: 0;
  filter: blur(4px);
}
.title-letter:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title-letter:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title-letter:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title-letter:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title-letter:nth-child(5) {
  animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title-letter:nth-child(6) {
  animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.title-letter:nth-child(7) {
  animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
}


@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}
.cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}
.cards div {
  max-width: 500px;
  width: 100%;
  height: 300px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  background-color: #F4ECF1;
  border-radius: 10px;
  transition: all 0.3s;
}
.cards div:hover {
  background-color: #DAA9CD;
}

.cards h5{
  font-size: 30px;
}
.cards p{
  line-height: 40px;
  font-size: 20px;
}
footer{
  width: 100%;
  border-top: 3px solid #5E2650;
  margin-top: 60px;
  padding: 30px;
}
.social-icons {
  width: 300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
 
}
.about-us {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-bootcamp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.about-bootcamp h1{
  margin-bottom: 20px;
  font-size: 50px;
}
.about-bootcamp p {
  font-size: 25px;
  line-height: 40px;
} 
.courses {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  background-color: #F4ECF1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.logo-box-course {
   width: 30%;
   
}
.logo-box-course svg g {
  animation: logo 3s infinite;
}
@keyframes logo{
  0% {fill: #5E2650}
  25% {fill: #874B78}
  50% {fill: #A8759A}
  75% {fill: #DAA9CD}
  100% {fill: #F7DEF1}
}
.div{
  animation: hide 3s infinite;
}
@keyframes hide{
  0% {opacity: 0; transform: rotate(10deg); font-size: 10px;}
  25%{opacity: 0.25;transform: rotate(15deg); font-size: 15px;}
  50%{opacity: 0.5;transform: rotate(20deg); font-size: 20px;}
  75%{opacity: 0.75;transform: rotate(25deg); font-size: 25px;}
  100%{opacity: 1;transform: rotate(30deg);}
}
/* .logo-box-course svg g:hover{
  fill: #000;
} */
.info-box-course{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}
.info-box-course h2{
  font-size: 50px;
}
.info-box-course h6{
  font-size: 23px;
}
.info-box-course p {
  font-size: 20px;
  opacity: 0.7;
}
.info-box-course span {
  color: red;
}
.info-box-course button{
  width: 220px;
  height: 70px;
  background-color: #5E2650;
  border: none;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  
}
.info-box-course a{
  padding: 15px 20px;
  background-color: #5E2650;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  margin-left: 20px;
  text-align: center;
}
.info-box-course button:hover{
  background-color: #DAA9CD;
  color: #000;
}
.info-box-course a:hover{
  background-color: #DAA9CD;
  color: #000;
}
.prerekvizits{
  width: 50%;
  background-color: #DAA9CD;
  /* display: flex;
  justify-content: flex-end; */
  padding: 20px;
  display: inline-block;
  vertical-align: top;
}
.prerekvizits div{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.prerekvizits div p {
  font-size: 20px;
  margin-left: 10px;
}
.prerekvizits h2{
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
}
.choose-process{
  width: 50%;
  background-color: #DAA9CD;
  display: inline-block;
  vertical-align: top;
  padding: 20px;
  padding-bottom: 81px;
}
.choose-process h2{
  font-size: 30px;
  margin-bottom: 50px;
  text-align: center;
}
.box{
  width: 200px;
  height: 100px;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #5E2650;
}
.line{
  width: 120px;
  height: 2px;
  background-color: #5E2650;
}
.process-box{
  display: flex;
  align-items: center;
  
}
.process-box h2{
  margin-bottom: 20px;
  font-weight: bold;
 
}

.title-word {
  animation: color-animation 4s linear infinite;
}
.title-word-1 {
  --color-1: #874B78;
  --color-2: #D58BCE;
  --color-3: #5E2650;
}

.title-word-2 {
  --color-1: #A8759A;
  --color-2: #DAA9CD;
  --color-3: #F7DEF1;
}

.title-word-3 {
  --color-1: #A023B0;
  --color-2: #E4A9A8;
  --color-3: #F2D0FF;
}

.title-word-4 {
  --color-1: #FFCBE2;
  --color-2: #733C7B;
  --color-3: #F5E4EC;
}

@keyframes color-animation {
  0%    {color: var(--color-1)}
  32%   {color: var(--color-1)}
  33%   {color: var(--color-2)}
  65%   {color: var(--color-2)}
  66%   {color: var(--color-3)}
  99%   {color: var(--color-3)}
  100%  {color: var(--color-1)}
}
.tutors{
  width: 100%;
  
}
.megi, .luka{
  width:100%;
  margin: 20px auto;
  display: flex;
  justify-content: space-around;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.tutorImg{
  width: 20%;
  
  /* height: 400px; */
  
}
.tutorImg img {
  width: 100%;
  height: 100%;
}
.tutorInfo {
  /* border: 1px solid black; */
  /* height: 100%; */
  display: flex;
  flex-direction: column; 
  /* align-items: center;  */
  justify-content: space-evenly; 
  /* align-items: flex-start;  */
}
.tutorInfo p {
  font-size: 20px;
}

.tutorInfo li {
  margin-bottom: 10px;
 font-size: 22px;
}
.tutorInfo h1{
  font-size: 40px;
}